[submodule "themes/hugo-theme-crisp"]
	path = themes/hugo-theme-crisp
	url = https://github.com/kushdilip/hugo-theme-crisp.git
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = https://github.com/kushdilip/hugo-icarus-theme.git
